<html>

<head>
  <title>Personal Library</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tangerine&display=swap" rel="stylesheet">
</head>

<body>
  <img id="backgroundImg"
    src="https://www.welt.de/img/kultur/literarischewelt/mobile154566383/0762505247-ci102l-w1024/DW-Ku-kommentar-Google-Books-8.jpg"></img>
  <header>
    <h1>Personal Library</h1>
  </header>
  <br>
  <div id='sampleui'>
    <div id="books">
      <form id="newBookForm">
        <label for="bookTitleToAdd">New Book Title</label>
        <input type="text" id="bookTitleToAdd" name="title" placeholder="Moby Dick" style="font-family: 'Playfair Display', serif;">
        <button type="submit" value="Submit" id="newBook" style="font-family: 'Playfair Display', serif;">Submit New Book!</button>
      </form>
      <div id='display'></div>
      <button id='deleteAllBooks' style="font-family: 'Playfair Display', serif;">Delete all books...</button>
    </div>
    <div id='bookDetail' class='border'>
      <p id='detailTitle'>Select a book to see it's details and comments</p>
      <ol id='detailComments'></ol>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/public/client.js"></script>
  <script>
    /*
    *  For #sampleposting to update form action url to test inputs book id
    */
    $(function () {
      $('#commentTest').submit(function () {
        let id = $('#idinputtest').val();
        $(this).attr('action', "/api/books/" + id);
      });
    });
  </script>
</body>

</html>