.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

#backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 20%;
  z-index: -1;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: fit-content;
}

#deleteAllBooks {
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  text-align: center;
}

form {
  padding: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}

/* Submit New Book */
#newBookForm {
}

#bookTitleToAdd {
  width: 295px;
}

#newBook {

}
/* End */


/* All books */
#display {
}

/* End */


/* Detail */
#bookDetail {
}

#detailTitle {
}

#detailComments {
}
/* End */