.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

#backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 20%;
  z-index: -1;
}

#sampleui {
  width: fit-content;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 50px;
  margin: auto;
}

#books {
  height: fit-content;
}

#bookDetail {
  background-color: antiquewhite;
  padding: 20px;
}

#deleteAllBooks {
  color: black;
  height: fit-content;
  width: fit-content;
  background-color: crimson;
  position: relative;

}

body {
  height: 100%;
}

h1 {
  text-align: center;
  padding: 20px;
  font-family: 'Playfair Display', serif;
}

form {
  padding: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}

/* Submit New Book */
#newBookForm {
  background-color: sienna;
  border: 2px solid saddlebrown;
  text-align: center;
  height: fit-content;
  font-family: 'Playfair Display', serif;
}

#bookTitleToAdd {
  width: 295px;
}

#newBook {
  background-color: bisque;
}
/* End */


/* All books */
#display {
  background-color: beige;
  border: 3px ridge peru;
  border-radius: 3px;
  font-family: 'Playfair Display', serif;
}

/* End */


/* Detail */

#detailTitle {
  color: brown;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

#detailComments {
  color: rgb(192, 154, 105);
  font-family: 'Tangerine', cursive;
  font-size: 35px;
}

#commentToAdd {
  font-family: "Tangerine", cursive;
  font-size: 25px;
}

.addComment {
  font-family: "Tangerine", cursive;
  font-size: 25px;
}

.deleteBook {
  font-family: "Tangerine", cursive;
  font-size: 25px;
}
/* End */